# Ignore build output
bin/
/obj

# Ignore NuGet packages
*.nupkg
*.snupkg
*.nuspec
*.symbols.nupkg

# Ignore Visual Studio files
*.suo
*.user
*.userprefs
*.sln.docstates
*.vssettings
*.scc
*.csproj.user
*.nunit
*.resharper
*.rdoc
*.dotSettings
*.userprefs

# Ignore Visual Studio Code files
.vscode/
*.code-workspace
*.code-snippets

# Ignore other files
.DS_Store
Thumbs.db
.fake